# The ID of your GitHub App
# For more information https://probot.github.io/docs/configuration/
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

BOT_NAME="ijsblokjeee-private[bot]" # change this to the: bot_name[bot] -> bot_name being the name of your bot, [bot] should NOT be removed
IJSKOUD_WEBHOOK_URL="" # webhook URL, change ijsKoud to your own GH name
